$pink-mode: #e238a2;
$blue-mode: #195fbf;
.mask {
   background-image: url(../../images/overlay.png);
   background-size: cover;
   background-position: bottom;
   background-color: #000;
   padding: 100px 0;
   .mask-box {
      img {
         border: 10px solid;
         border-image-slice: 1;
         border-width: 1px;
         border-image-source: linear-gradient(
            to top,
            #1a1a1a,
            $blue-mode,
            $pink-mode
         );
      }
   }
   .box-2 {
      position: relative;
      top: -150px;
      img {
         width: 500px;
         padding: 50px 100px;
         background: #1a1a1a;
      }
   }
   .box-1,
   .box-3 {
      img {
         width: 350px;
         padding: 50px;
         background: #1a1a1a;
      }
   }
}

@media (max-width: 991px) {
   .mask {
      .mask-box {
         img {
            width: 350px;
            padding: 10px;
            background: #1a1a1a;
         }
      }
      .box-2 {
         top: -50px;
      }
   }
}

body.dark-mode {
   .mask {
      .mask-box {
         img {
            border-image-source: linear-gradient(
               to top,
               #1a1a1a,
               $pink-mode,
               $blue-mode
            );
         }
      }
   }
}
