$pink-mode: #e238a2;
$blue-mode: #195fbf;
$pink-bg: url(../../images/home-pink-banner.png);
$blue-bg: url(../../images/home-blue-banner.png);
.banner {
   background-image: $pink-bg;
   background-color: #000000;
   background-size: cover;
   background-position: center;
   height: 90vh;
   position: relative;
   &::after {
      content: "";
      width: 100%;
      height: 200px;
      background: url(../../images/banner-bottom.png);
      position: absolute;
      bottom: 0;
      left: 0;
   }
   .container {
      position: relative;
   }
   .overlay {
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.4);
   }
   .text-box {
      h1 {
         color: #fff;
         text-transform: capitalize;
      }
      .yodda-btn {
         font-size: 24px;
         color: #fff;
         border: 2px solid $pink-mode;
         font-family: "Orbitron", sans-serif;
         font-weight: bold;
         width: 292px;
         height: 58px;
         background-color: rgba($color: #000000, $alpha: 0.6);
         transform: skewX(-10deg);
         transition: 0.4s;
         &:hover {
            border: 2px solid $blue-mode;
         }
      }
   }
   .social-links {
      position: absolute;
      display: inline-table;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      a {
         color: #fff;
         font-size: 26px;
         margin: 50px 0;
         display: block;
         .icon {
            width: 26px;
         }
         .insta {
            width: 20px;
         }
      }
   }
}

@media (max-width: 767px) {
   .banner {
      .text-box {
         h1 {
         }
      }
      .social-links {
         right: 15px;
      }
   }
}

body.dark-mode {
   .banner {
      background-image: $blue-bg;
      .text-box {
         .yodda-btn {
            border: 2px solid $blue-mode;
            &:hover {
               border: 2px solid $pink-mode;
            }
         }
      }
   }
}
